#btndist{
width:97%;
height:80px;
border-radius:30px;
padding-top:40px;
text-align:center;
display:block;
font-size:30px;
background:rgb(180,180,180);
border-color:rgb(255,255,255);
border-style:solid;
border-width:5px;
text-decoration:none;
}
#btnperimeter{
width:97%;
height:80px;
border-radius:30px;
padding-top:40px;
text-align:center;
display:block;
font-size:30px;
background:rgb(180,180,180);
border-color:rgb(255,255,255);
border-style:solid;
border-width:5px;
text-decoration:none;
}
#btnarea{
width:97%;
height:80px;
border-radius:30px;
padding-top:40px;
text-align:center;
display:block;
font-size:30px;
background:rgb(180,180,180);
border-color:rgb(255,255,255);
border-style:solid;
border-width:5px;
text-decoration:none;
}
#btnexit{
width:200px;
height:50px;
left:-100px;
position:relative;
text-decoration:none;
border-radius:30px;
padding-top:10px;
text-align:center;
display:block;
font-size:30px;
background:rgb(180,180,180);
border-color:rgb(255,255,255);
border-style:solid;
border-width:5px;
}
#butoane{
text-align:center;
width:100%;
}


